{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
    var search_url = "{{=URL('api', 'search', user_signature=True, hash_vars=False)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

        <input type="text" v-model="search_string" v-on:input="do_search" />

        <div v-for="s in strings"> ${s} </div>

        <br>
        <br>
        <div v-for="product in products"> ${product.name} </div>

    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>